.bg {
	height: 100%;
	background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

h1 {
	letter-spacing: 8px;
  }
  
  h5 {
	letter-spacing: 3px;
  }
  
  .hr-light {
	border-top: 3px solid #fff;
	width: 80px;
  }