body {
	margin: 0px;
    background-color: bisque;
}

.top-banner {
	top: 0;
	font-size: 2em;
	text-align: center;
	background-color: aqua;
}

.navigation-bar {
	top: 0;
	position: sticky;
	background-color: black;
	padding: 14px;
}